html {
  background: #131314;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 98vh;
}
  
  .ground { 
    grid-area: 3 / 1 / 4 / 4; 
    background: blue;

  }
  .sky { 
    grid-area: 1 / 1 / 3 / 4; 
    background: green;
  }
  .door { 
    grid-area: 2 / 2 / 3 / 3; 
    background: black;
  }
  