html {
  background: black;
}

body {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Need to figure out better dead space and columns for mobile+desktop */
.parent {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 97vh;
  overflow: hidden;
  border: 3px solid rgb(53, 53, 53);
}
  
.ground { 
  grid-area: 3 / 1 / 4 / 4; 
  /* background: #131314; */
  border: 1px solid white;

}
.sky { 
  grid-area: 1 / 1 / 3 / 4; 
  padding: 12px;
  border: 1px solid white;
}
.door { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3; 
  /* background: #202020; */
  border: 1px solid white;
  color: white;
  /* font-size: 1x; */
}

/* Redefine CSS Grid to keep .door centered */
@media only screen and (max-width: 708px){
  .parent {
    display: grid;
    grid-template-columns: max(60px, 1fr) 250px max(60px, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: auto;
    overflow: hidden;
  }
    
    .div1 { grid-area: 3 / 1 / 4 / 4; }
    .div2 { grid-area: 1 / 1 / 3 / 4; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    
}

/* https://codepen.io/thetallweeks/pen/yybGra */

.loading {
  color: #fff;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
